.profile-edit-input {

    display: grid;
    margin-top: 40px;
    gap: 20px;
    padding: 30px;



    .edit-input {
        width: auto;
        height: 50px;
        border-radius: 5px;
        outline: 1px solid #E5E4E2;
        padding: 10px;
        color: rgba(0, 0, 0, 0.771);
        margin-top: -15px;
    }

    .edit-input:focus {
        outline: 1px solid black;
    }

    label {
        font-family: sans-serif;
        color: rgba(0, 0, 0, 0.627);
        font-weight: 400;
    }



    .edit-textarea {
        width: auto;
        border-radius: 5px;
        outline: 1px solid #E5E4E2;
        padding: 10px;
        color: rgba(0, 0, 0, 0.771);
        margin-top: -15px;
    }

    .edit-textarea:focus {
        outline: 1px solid black;
    }


}

.save-container {
    display: flex;
    justify-content: center;
}

.save-btn {
    width: 300px;
    height: 50px;
    cursor: pointer;
    background-color: black;
    border-radius: 30px;
    border: 2px solid black;
    outline: none;
    font-family: system-ui;
    font-weight: 400;
    color: #ffff;
    font-size: 18px;
    margin-top: 20px;
}

.save-btn:hover {
    border-color: white;
}

.cancel {
    cursor: pointer;
    color: grey;
}

.cancel:hover {
    color: black;
}